name: release-please

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release_please:
    name: release
    uses: aztfmods/module-azurerm-global/.github/workflows/release.yml@main